/* Layout for index.html */

*, *:before, *:after {
   box-sizing: border-box;
}

#page {
   margin: 0;
   height: 100%;
   max-width: 100%;
   overflow-x: hidden;
}

main {
   width: 85%;
   margin: auto;
}

.row {
   display: flex;
   flex-flow: row wrap;
   width: 100%;
   align-content: center;
   justify-content: center;
}

.row [class^="col"] {
   margin: 2%;
   min-height: 0.125rem;
   padding: 24px;
}

.row::after {
   content: "";
   display: table;
   clear: both;
}

.col-1 {
   width: 4.33%;

}

.col-2 {
   width: 12.66%;
}

.col-3 {
   width: 21%;
}

.col-4 {
   width: 29.33%;
}

.col-5 {
   width: 37.66%;
}

.col-6 {
   width: 46%;
}

.col-7 {
   width: 54.33%;
}

.col-8 {
   width: 62.66%;
}

.col-9 {
   width: 71%;
}

.col-10 {
   width: 79.33%;
}

.col-11 {
   width: 87.66%;
}

.col-12 {
   width: 96%;
}

.page-full-width {
   width: 100%;
}

.justify {
   text-align: justify;
}

.center {
   text-align: center;
   margin: auto !important;
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

.justify {
   text-align: justify;
}

.heading {
   margin: 7% auto;
   width: 100%;
}

section {
   position: relative;
   padding: 0 0 72px;
}

@media only screen and (max-width: 1450px) {

   #desktop-logo {
      display: none;
   }

   #mobile-logo {
      display: block;
   }

}

@media only screen and (max-width: 1100px) {

   #top-header {
      display: none;
   }

   #mobile-logo {
      left: 50%;
      transform: translateX(-50%) !important;
   }

   .big-logo {
      height: 125px;
      width: 125px;
   }

   .small-logo {
      height: 100px !important;
      width: 100px;
   }

   .bg-none {
      background: none;
   }

   #mobile-menu-open {
      display: block;
      opacity: 0.7;
      transition: opacity 0.75s
   }

   #mobile-menu-open:hover {
      cursor: pointer;
      opacity: 1;
   }

   #mobile-menu-close {
      position: absolute;
      right: 5%;
      opacity: 0.7;
      transition: all 0.75s;
   }

   #mobile-menu-close:hover {
      cursor: pointer;
      opacity: 1 !important;
   }

   .banner {
      margin: 0;
   }

   header {
      overflow: visible;
   }

   nav {
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: -100%;
      background: #313131;
      opacity: 0.85;
      justify-content: center;
   }

   nav a {
      display: block;
      border-right: none !important;
      padding: 2.5%;
      flex: none;
   }

   .slider-text {
      width: 80%;
   }

   main {
      width: 95%;
   }

   #breakfast, #lunch, #dinner {
      width: calc(100% / 3 - 4px);
      margin: 2px;
   }

   .menu-title img {
      width: 40%;
   }

   .specialty-entrees {
      width: 100%;
   }

   .row [class^="col"] {
      padding: 16px;
   }
}

@media only screen and (max-width: 850px) {

   /*
   .slider-text {
      transform: translate(-50%, -50%);
      font-size: 6em;
   }

   h1, h2 {
      font-size: 2em;
   }

   h3 {
      font-size: 1.5em;
   }

   h4 {
      font-size: 1.25em;
   }

   h5 {
      font-size: 1.15em;
   }

   figcaption {
      font-size: 0.8em;
   }
   .section-heading {
      font-size: 1.25em;
      padding: 15% 0;
   }
   */
   .row {
      flex-direction: column;
   }

   .col-4 {
      width: 100%;
   }
   .col-6 {
      width: 100%;
   }

   .col-8 {
      width: 100%;
   }

   .header-big-height {
      height: 125px;
   }

   .header-small-height {
      height: 125px;
   }

   nav a {
      padding: 5%;
   }

   .banner {
      height: 300px;
   }

   .section-heading {
      padding: 20%;
   }


   .about-img-container-right, .about-img-container-left {
      display: none;
   }

   .about-text-container-left {
      padding: 8px !important;
   }

   .menu-hover-container {
      margin-top: 0;
      opacity: 1;
      box-shadow: 0 0 45px rgba(100, 100, 100, .75);
   }

   #breakfast, #lunch, #dinner {
      width: 90%;
      margin: 2% auto;

   }

   .menu-items-container img {
      width: 32.5%;
   }

   .specialty-entrees {
      animation: none !important;
      width: 55%;
   }

   .specialty-entrees:hover {
      animation: none !important;
   }

   .specialty-heading {
      margin: 25px 0;
   }

   .testimonial-text::before {
      left: 0;
      top: 25px;
      font-size: 3em;
   }

   .testimonial-text {
      text-align: center;
   }

   .testimonial-text hr {
      margin: auto;
   }

   .mySlides {
      display: block;
   }

   .testimonial-customer-img {
      display: none;
   }

   .event-container {
      height: 100%;
   }

   #event-inner-container1:hover #event-text1, #event-inner-container2:hover #event-text2, #event-inner-container3:hover #event-text3 {
      opacity: 1;
      transform: none;
   }

   #event-inner-container1, #event-inner-container2, #event-inner-container3 {
      position: relative;
      clip-path: none;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin: 2% 0;
   }

   #event-img1, #event-img2, #event-img3 {
      padding: 25%;
      opacity: 0.6;
      filter: blur(1.85px);
      color: rgba(239, 239, 239, 1) !important;
   }

   #event-text1, #event-text2, #event-text3 {
      background: none;
      transform: translate(0);
      opacity: 1;
      padding: 0;
      font-size: 2.25em;
   }

   .footer-contact-icons {
      font-size: 0.75em;
   }

   #footer-social-icons a {
      font-size: 1.75em;
   }

   #footer-design-credit h5 {
      font-size: 0.8em !important;
   }
}

@media only screen and (max-width: 480px) {
   nav a {
      padding: 8.5% 0;
   }
   .slider-text {
      font-size: 5em;
   }
   #cart-price {
      display: none;
   }
   h1, h2 {
      font-size: 2em;
   }
   h3, .section-heading {
      font-size: 1.5em;
   }

   .section-heading {
      padding: 20% 0;
   }
}

@media only screen and (max-width: 320px) and (max-height:768px)
}

}
